version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    # Update all the dependencies:
    # - direct: explicitly defined dependencies in the Cargo.toml file
    # - indirect: transient dependencies in the Cargo.lock file
    allow:
      - dependency-type: direct
      - dependency-type: indirect
    ignore:
      # Bincode is unmaintained and considered complete (sans CVE fixes). v3
      # exists but is effectively an empty crate. For context, see:
      # https://crates.io/crates/bincode/3.0.0
      - dependency-name: bincode
        update-types: ["version-update:semver-major"]
    groups:
      cargo:
        patterns:
          - "*"
